.admin-input {
  margin-bottom: 40px;
}

.admin-input--flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.admin-input--flex-container .admin-form__label {
  width: 100%;
}

.admin-input--ltr {
  direction: ltr;
  text-align: right;
}